
.page-padding-bottom{
  padding-bottom:2rem;
}
.remove-default-margin{
  margin:0;
  list-style: none;
  padding:0;
}

.page-margin-top{
  margin-top:2rem;
}

.page-width{
  width:80vw;
  margin:0 auto;
}
